#headlines{
display:flex;
flex-direction: row;
justify-content:center;
font-family: Roboto;
font-style: normal;
font-weight: 700;
font-size: 13pt;
line-height: 33px;
color: #000000;
}

#headlines li{
margin-left:40px;
}