.center-messages{
    
   font-size: 40px;
   color:#B2B9DF;
   padding-top: 100px;
   
}
.center-parent {
    background: url(./centermenu/backh2.png)  ;
    /* height: auto; */
    /* width: 1366px; */
     
    
    
    
}
.center-hr{
    height: 1px;
    width: 100%;
}
ul lo{
    margin-right:50px;
}