.paragraph{
    display: block;
    font-family: Roboto;
    background: #E5E5E5;
}

.page_content{
    margin:0 16.2% 0 18%;
    text-align: justify;
}

.clearfix:after{
    content:'';
    display: table;
    width: 100%;
    clear: both;
}

h1{
    font-size: 48px;
    margin-bottom: 0px;
}

h2{
    font-size: 28px;
    margin-bottom: 20px;
}

p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    font-family: Roboto;
}

.hr_KafedraPage{
    width: 95%;
}


.link_with_line{
    color: #0c1070;
    text-transform: uppercase;
    border-bottom: dotted;
}

.link_with_line:hover{
    border-bottom: solid;
}



