.listtitle{
    margin-top: 0px;
}  
.Title{
    margin-bottom:1%;
}
.container_photo_gallery Img{
    margin: 1% 2% 1% 2%;
    cursor: pointer;
}
.container_photo_gallery a{
    display:inline-block;
    margin : 0 3em 0 2em;
    justify-content: space-between;
}
.images{
    margin-top: 1%;
}