.TeacherList{
    margin-bottom: 5vh;
    text-align: start;
}

.TeacherItem{
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
    grid-template-areas: "portret fullName info";
}

.TeacherItem p{
    margin-top: 0;
}

.TeacherItem a{
    display: inline;
    text-transform: none;
    font-size: 1em;
}

.fullName{
    text-transform: uppercase;
    width: 135px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    display: grid;
    grid-area: fullName;
}

.info{
    display: grid;
    grid-area: info;
}

.ItemTitle{
    font-weight: bold;
}


.portret{
    width: 135px;
    height: 180px;
    display: grid;
    grid-area: portret;
}

@media only screen and (max-width: 768px) {

    .TeacherItem{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "portret fullName" "info info";
    }

    .portret{
        margin: 0 auto;
    }

    .fullName{
        margin: auto;
    }

}

@media only screen and (max-width:320px) {

    .TeacherItem{
        grid-template-columns: 1fr;
        grid-template-areas: "portret" "fullName" "info";
    }

    .fullName{
        text-align: center;
    }

}