
/*------------------------------------My script------------------------*/

.clearfix:after{
    content:'';
    display: table;
    width: 100%;
    clear: both;
}

.Block{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.image_diagram{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#image_Benefits{
    float:left;
    padding-right:25px;
    width: 55%;
    max-width: 100%;
}

.benefits{
    list-style-type: disc;
    margin-left: 25px;
}



.container_companies{
   text-align: center;
}

.container_companies a{
    display: inline-block;
    width: 25vh;
 }
 
 .container_companies a+a{
    margin-left: 1.5rem;
}

.companies{
    width: inherit;
}

