.container_conference{
    margin: 35px 0;
    width: 95%;
    border: 2px groove rgb(156, 156, 158);
    border-radius: 0 5px 5px 0;
    background: linear-gradient(180deg,rgb(156, 156, 158),#C5DDE8);
}

.container_conference_content{
    text-align: left;
    display: flex;
    flex-direction: row;
}

.conference_picture{
    width: 180px;
}

.container_conference_content_image_article{
    padding-top: 2px;
    padding-left: 20px;
}

.container_conference_content_image_article a{
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    margin: 0 0;
    text-decoration: none;
    line-height: 1.1em;
}

.container_conference_content_image_article a:hover{
    color:rgb(231, 242, 255);
}

.container_conference_content_image_article p{
    font-size: 16px;
    margin: 0 0;
}

.container_conference_content_usefull_information p{
    margin: 10px 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 100;
    color: grey;
}



.container_conference_content_usefull_information{
    display: flex;
    flex-direction: row;
}

.container_conference_content_usefull_information p+p{
    margin-left: 12%;
}