#history_kafedra{
    margin-bottom: 40px;
}

.textunderphoto{
     text-align: center;
}

.image1{
    float: left;
    max-width: 49%;
    height: auto;
    margin-right: 7px;
    display: block;
    justify-content: space-between;
}
.image2{
    float: left;
    max-width: 49.5%;
    height: auto;
    margin-right: 7px;
    display: block;
    justify-content: space-between;
}
.images{
    display: flex;
    justify-content: space-between;
    
}
h1{
    text-align: left;
}
h2{
    text-align: left;
}
.image8{
    margin-bottom: 1.5%;
}   
.lastblock{
    display: flex;
    
}
p span{
    display: block;
    text-align: left top;
    /* margin-left: 2%; */
    font-size: 18px;    
}   
.diplom{
    margin-top:20px;
}