.text{
    margin:0 18.2% 0 20%;
    text-align: justify;
}
p{
    font-size: 16px;
}
.textunderphoto{
     text-align: center;
}

.image1{
    float: left;
    max-width: 49%;
    height: auto;
    margin-right: 7px;
    display: block;
    justify-content: space-between;
}
.image2{
    float: left;
    max-width: 49.5%;
    height: auto;
    margin-right: 7px;
    display: block;
    justify-content: space-between;
}
.images{
    display: flex;
    justify-content: space-between;
    
}
h1{
    text-align: left;
}
h2{
    text-align: left;
}
.image8{
    margin-bottom: 1.5%;
}   
.lastblock{
    display: flex;
    padding-bottom: 5px;
}
.image2{
    width:22%;
    height: auto; 
    float:left;
    margin-right:23px;
}