.back-to-top{
    position:fixed; /*кнопка не повинна знаходитися в основному потоці, а повинна знаходитися поверх елементів, тому необхідно задати їй фіксоване положення*/
    right: 10%;
    bottom: 30px;
    width: 50px;
    height: 50px;
    border-color: transparent;
    border-radius: 50%;
    background: #4341BE;
}

.back-to-top:hover{
    filter: brightness(1.5); /*підвищення яскравості*/
    outline: none;
}

/* .back-to-top:focus for up*/

.back-to-top::after,
.back-to-top::before{
    content: '';
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.back-to-top::before{
    width: 2px;
    height: 22px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #f5f0f6;
}

.back-to-top::after{
    width: 14px;
    height: 14px;
    transform: translate(-50%, -60%) rotate(45deg);
    border-top: 2px solid #f5f0f6;
    border-left: 2px solid #f5f0f6;
}