.inline_link{
    display: inline;
    font-size:inherit;
}

.word_link{
    margin-left: 0px;
}

.center{
    margin-top: 0px;
    text-align: center;
}



iframe{
    position: relative;
    width: 78vh;
    height: 60vh;
    float: right; /* Выравнивание по правому краю */
    margin: 0 0 5px 5px; /* Отступы вокруг фотографии */
}

.Learning_Form{
    margin-top: 45px;
    margin-bottom: 45px;
}

.Information_for_Students{
    margin-bottom: 45px;
}

.Block{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}




.container_item_form {
    background: #FEFDFF;
    height: 95px;
    width: 240px;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #A0D0E3;
    box-sizing: border-box;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.container_News{
    display: flex;
    justify-content: space-between;
    margin-bottom: 195px;
}
.container_News_item{
    justify-content: center;
    position: relative;
}

.container_News h1{
    
    font-size: 28px;
    line-height: 33px;

}

.container_information {
    color: black;
    display: flex;
    text-align: left;
    flex-direction: column;
    width: 50%;
    margin-top: 20px;
    padding-right: 20px;
}

.header_box{
    text-align:left ;   
    margin-top: 10px;
}

.header_box h2{
    padding: 0 0;
    margin: 0 0 10px 0;
}

.header_box h3{
    padding: 0 0;
    margin: 0 0;
}

.header_box_cover{
    background: url(./images/Welcome_on_main_page.jpg);
    background-size: cover;
    border-radius: 5px 5px 0 0;
    height: 15rem;
    box-shadow: inset rgba(0,0,0,0.2) 0 64px 64px 16px;
    margin-bottom: 20px;
}

.header_box_cover h1{
    display: flex;
    align-items: flex-end;
    height: 100%;
    font-size: 42px;
    color: #f4f4f4;
    padding: 0 0 10px 30px;
    line-height: 1.12em;
}

#image_Collective{
    float: right; /*  Выравнивание по левому краю */
    margin: 10px 0 10px 10px; /* Отступы вокруг картинки */
    width: 45%;
}
@media screen and (max-width: 1000px) {
    #image_Collective{
        width: 100%;
    }
}
