.inline_link{
    display: inline;
    font-size:inherit;
}

.word_link{
    margin-left: 0px;
}

.center{
    margin-top: 0px;
    text-align: center;
}

.contacts_KafedraPage h1{
    margin: auto 0;
    text-align: center;
    border-bottom: 2px solid rgb(187, 194, 197);
}

.contacts_KafedraPage{
    box-shadow: rgb(0, 0, 0 0.2) 0 4px 2px -2px;
    font-weight: 100;
    margin: 48px auto; 
    color: #06244b;
    border-radius: 5px;
    border: 2px solid rgb(187, 194, 197);
    background: rgba(214, 218, 218, 0.589);
}

.institute_location{
    width: 90%;  
    padding: 0 20px;
    margin: 0 auto;
}

.institute_location_map{
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
}

.institute_location h2{
    color:#0e115e;
    font-size: 36px;
    text-align: center;
    margin: 10px;
}

.Learning_Form{
    margin-top: 45px;
    margin-bottom: 45px;
}

.Information_for_Students{
    margin-bottom: 45px;
}

.Block{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}




.container_item_form {
    background: #FEFDFF;
    height: 95px;
    width: 240px;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #A0D0E3;
    box-sizing: border-box;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.container_News{
    display: flex;
    justify-content: space-between;
    margin-bottom: 195px;
}
.container_News_item{
    justify-content: center;
    position: relative;
}

.container_News h1{
    
    font-size: 28px;
    line-height: 33px;

}

.container_information {
    color: black;
    display: flex;
    text-align: left;
    flex-direction: column;
    width: 50%;
    margin-top: 20px;
    padding-right: 20px;
}

.header_box{
    text-align:left ;   
    margin-top: 10px;
}

.header_box h2{
    padding: 0 0;
    margin: 0 0 10px 0;
}

.header_box h3{
    padding: 0 0;
    margin: 0 0;
}

.header_box_cover{
    background: url(./images/Welcome_on_main_page.jpg);
    background-size: cover;
    border-radius: 5px;
    border: 2px solid #040638;
    height: 15rem;
    box-shadow: inset rgba(0,0,0,0.2) 0 64px 64px 16px;
    margin-bottom: 5px;
}

.header_box h1{
    display: flex;
    align-items: flex-end;
    height: 100%;
    font-size: 42px;
    color: #f4f4f4;
    padding: 0 0 10px 30px;
    margin: 0;
    line-height: 1.12em;
}



.header_box_sub1{
    background: url(./images/Thinker.jpg);
    background-size: cover;
    width: 49%;
    border: 2px solid #040638;
    border-radius: 5px;
    height: 15rem;
    box-shadow: inset rgba(0,0,0,0.2) 0 64px 64px 16px;
    margin-bottom: 20px;
    float: left;
    margin-left: .45%;
    
    
}

.header_box_sub2{
    background: url(./images/people_history.png);
    background-size: cover;
    width: 49%;
    border: 2px solid #040638;
    border-radius: 5px;
    height: 15rem;
    box-shadow: inset rgba(0,0,0,0.2) 0 64px 64px 16px;
    margin-bottom: 20px;
    float: right;
    margin-right: .45%;
}

.motivation_box{
    text-align: center;
    display: flex;
    flex-wrap: wrap; 
}

.motivation_box_Why{
    border: 1px inset rgb(180, 180, 180);
    background: rgb(205, 205, 205);
    border-radius: 5px 5px 2px 2px ;
    width: 45%;
    padding: 5px;
}

.motivation_box h2{
    text-align: center;
    font-size: 20px;
    color: #040638;
}

.motivation_box p{
    color: #232427;
    font-size: 17px;
}

.motivation_box_Why p{
    color: #232427;
    font-style: italic;
}

.arrow_box{
    margin: auto 0;
    width: 10%;
    justify-content: center;
}

#arrow_KafedraPage{
    max-width: 100%;
}

.motivation_box_know{
    text-align: left;
    border: 1px outset rgb(180, 180, 180);
    background: rgb(205, 205, 205);
    border-radius: 5px 5px 2px 2px ;
    width: 45%;
    padding: 5px;
}

#image_Collective{
    float: right; /*  Выравнивание по левому краю */
    margin: 10px 0 10px 10px; /* Отступы вокруг картинки */
    width: 45%;
}
@media screen and (max-width: 1000px) {
    #image_Collective{
        width: 100%;
    }
}
