.menu{
    display: flex;
    flex-flow: column wrap;
}

.dropdown button {
    width:175px;
    background-color: #FFF;
    color:black;
    border:none;
}
.dropdown button:hover{
    display:block;
    
}